<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!--My custom CSS-->
        <link rel="stylesheet" href="static/css/style.css" type="text/css" />

        <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon" />

        <title>Blitz Bikes | Bombardment of Biking Reviews</title>
    </head>
    <body>

        <div class="container__index">
            <h1>Blitz Bikes
                <span>Bombardment of Biking Reviews</span>
            </h1>
            
            <!--Enter Site button-->
            <a href="{{ url_for('get_reviews') }}">
                <button class="waves-effect waves-light btn-large">
                    Enter Site
                </button>
            </a>
        </div>

    </body>
</html>