{% extends "base.html" %}
{% block content %}
<!--Base code from Data Centric Development mini project from Code Institute-->
    <h3 class="center-align p-b">Join Us in our quest to find the best!</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel z-depth-5">
                <!-- username -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-id-card-alt prefix text-darken-4"></i>
						<input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="username">Enter your new username</label>
					</div>
                </div>
                <!-- passowrd -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-key prefix text-darken-4"></i>
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Enter your password</label>
                    </div>
                </div>
                <!-- register -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large red darken-4 text-shadow">
                        Register <i class="fas fa-plus-square"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row p-b">
        <div class="col s12">
            <p class="center-align">
                Are you already a member? Excellent!
                <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Log In</a>
            </p>
        </div>
    </div>

    
{% endblock %}
